ul {
  list-style: none;
  padding:0;
  margin: 0;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

ul{
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 980px) {
mat-toolbar{
  flex-direction: row;
  align-items: right;
}
}
@media screen and (max-width: 980px) and (min-width: 760px) {

}
