<div id="logo">
<img width="500" alt="FamilyFavsnCraves Logo" src="../assets/images/Logo1.png">
</div>

  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="login()" #loginForm="ngForm" *ngIf="!isLoading">
  <mat-form-field>
   <input matInput name="username" ngModel type="text" placeholder="Enter Username" #usernameInput="ngModel" required username>
   <mat-error *ngIf="usernameInput.invalid">Please enter a valid username.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" name="password" ngModel matInput placeholder="Enter Password" #passwordInput="ngModel" required>
    <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
   </mat-form-field>
   <mat-card-actions>
   <button mat-raised-button color="accent" type="submit" routerLink="/profile">Login</button>
   <button mat-raised-button color="accent" type="submit" routerLink="/signup">Signup</button>
  </mat-card-actions>
</form>
</mat-card>

