<div class="logo">
<img width="500" alt="FamilyFavsnCraves Logo" src="../assets/images/Logo1.png">
</div>
<form (ngSubmit) = "login">
<div>
  <span>Username</span>
<input type="text" placeholder="Username" name="username" [( ngModel)] ="loginform.username"><br>
</div>
<div class="py-1">
  <span>Password</span>
<input type="password" placeholder="Password" name="password" [( ngModel)] ="loginform.password"><br>
</div>
<div>
<button>User Login</button>
<p>Not a User?  Sign up HERE!</p>
</div>
</form>
