mat-card form{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

mat-form-field textarea {
  width: 100%;
}

#logo {
  width:100%;
  height: auto;
  text-align: center;
}
mat-card {
  width: 25%;
  margin: auto;
  flex: 50%;
  border-radius: 10%;
}
mat-card-actions button{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
@media screen and (max-width: 960px){
  mat-card{
  width: 50%;
  }
}

