<mat-accordion multi="true" *ngIf="postsLength()">
    <!--multi allows multiple posts to be opened.-->


    <mat-expansion-panel *ngFor="let post of listOfPosts">
        <!--This loop is looping through 'posts' and storing it in the 'post' -->
        <!-- (its important to note that 'posts' is a function and is called on in the ts file )-->
        <mat-expansion-panel-header>
            {{ post.PostTitle }}
        </mat-expansion-panel-header>
        <p>{{post.PostBody}}</p>
        <a [routerLink] = "['/postlist/', post.PostId]">Edit
        </a>
        <button (click)="deletePost(post.PostId)">Delete</button>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-strong" *ngIf="!postsLength()">No posts added yet!</p>

<!--Title / Content are both created in post-list.component.ts-->

<!--Make sure that after entering a post on the profile page
    that the post also goes live on the posts-list page.-->
