<div id="logo">
  <img width="500" alt="FamilyFavsnCraves Logo" src="../assets/images/Logo1.png">
  </div>
    <mat-card>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form (submit)="signup()" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
        <input matInput name="fullname" ngModel type="fullname" placeholder="Name" #usernameInput="ngModel" required name>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="username" ngModel type="username" placeholder="Username" #usernameInput="ngModel" required username>
    </mat-form-field>
    <mat-form-field>
     <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
     <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
     </mat-form-field>
     <mat-card-actions>
     <button mat-raised-button color="accent" type="submit" routerLink=profile>Signup</button>
    </mat-card-actions>
    <mat-label  routerLink="/login">Have an account already?</mat-label>

    </form>
  </mat-card>

